$black: #191c1f;
$blue: #0075eb;
$gray: #8b959e;
$white: #fff;

$font-family: "Basier Circle", sans-serif;

$base-font-size: 12px;
$font-size-1: $base-font-size + 2;
$font-size-2: $base-font-size + 4;
$font-size-3: $base-font-size + 6;
$font-size-4: $base-font-size + 8;
$font-size-5: $base-font-size + 10;
$font-size-6: $base-font-size + 12;
$font-size-7: $base-font-size + 14;
$font-size-8: $base-font-size + 16;
