.Exchange-body {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .Exchange-body-action-type {
        width: 65%;
        text-align: center;
        margin: 10px 0;
    }

    .ExchangeInput + .ExchangeInput {
        margin-top: 20px;
    }
}
