@import "./src/styles/variables";

.Card {
    display: flex;
    min-width: 700px;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 7px;
    box-shadow: rgba($black, 0.1) 0 14px 32px, rgba($black, 0.1) 0 8px 16px;
}
