@import "src/styles/variables";

.AccountsPage {
    display: flex;
    flex-direction: column;

    .AccountsPage-header {
        display: flex;
        align-items: center;
        color: $black;
        font-size: $font-size-8;
        font-weight: 700;

        > span {
            color: $blue;
            margin-left: 10px;
        }
    }

    .AccountsPage-body {
        display: flex;
        flex-direction: column;
        margin: 40px 0;

        .AccountsPage-account-select-label {
            margin-bottom: 10px;
        }
    }
}
