@import "./src/styles/variables";

.ExchangeTitle {
    display: flex;
    color: $black;
    font-size: $font-size-8;
    font-weight: 700;

    .ExchangeTitle-action {
        text-transform: capitalize;
    }
}
